/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header .logo,h1{
    vertical-align: middle;
}

h1{
    display: inline;
}
/*main*/
/*conteiner top*/
main{
    background-color: aliceblue;
    padding: 20px;
}

.conteiner{
    width: 70%;
    margin: auto;
    padding: 15px;
    background-color: white;
    margin-bottom: 2px;
}
.top{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}

.add{
    border-radius: 5px;
    width: 85px;
    text-align: center;
    display: inline-block;
}

.task{
    background-color: aqua;
    color: white;
    margin-left: 25px;
}

.section{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

/*conteiner bot*/

.attività{
    margin-left: 25px;
    margin-bottom: 20px;
}

.completato{
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}
.incompleto{
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}
.testo{
    padding-left: 10px;
}
.info{
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    display: inline-block;
}
/*cambio di colori*/
.editorial{
    background-color: rgb(69, 171, 234);
}
.goal{
    background-color: rgb(156, 114, 228);
}
.recruiting{
    background-color: rgb(92, 189, 165);  
}
.mobile {
    background-color: rgb(242, 158, 51);
}
.website {
    background-color: rgb(216, 99, 161);
}
.sales{
    background-color: rgb(176, 201, 38);
}